<header class="bg-gradient-to-r from-gray-400 to-blue-900 shadow-lg p-4">
  <h1 class="text-3xl font-semibold text-white text-center mb-6 drop-shadow-lg">
    Demo técnica
  </h1>
  <nav class="flex justify-center space-x-10">
    <a
      routerLink="adn-stats"
      class="px-4 py-2 bg-white bg-opacity-80 rounded-lg text-blue-700 font-semibold shadow hover:bg-opacity-100 transition hover:bg-gray-200"
      >Estadísticas</a
    >
    <a
      routerLink="adn-list"
      class="px-4 py-2 bg-white bg-opacity-80 rounded-lg text-blue-700 font-semibold shadow hover:bg-opacity-100 transition hover:bg-gray-200"
      >Últimos diez</a
    >
  </nav>
</header>
