<header class="bg-gradient-to-r from-sky-200 to-blue-900 shadow-lg p-4">
  <h1
    class="text-3xl font-semibold text-white text-center mb-4 mt-2 drop-shadow-lg"
  >
    Demo técnica
  </h1>
  <nav class="flex justify-center space-x-10">
    <!-- <a
      routerLink="adn-stats"
      routerLinkActive="!text-blue-500"
      [routerLinkActiveOptions]="{ exact: true }"
      class="px-4 py-2 bg-white bg-opacity-80 rounded-lg text-gray-900 font-semibold shadow hover:bg-opacity-100 transition hover:bg-gray-300"
      >Estadísticas</a
    > -->
  </nav>
</header>
